body, html, #root {
  background-color: #000;  /* خلفية سوداء */
  color: white;            /* نص أبيض */
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body.light-mode, body.light-mode #root {
  background-color: #fff !important;
  color: #111 !important;
}

body.dark-mode, body.dark-mode #root {
  background-color: #000 !important;
  color: #fff !important;
}
